<form id="admin-search-form" action="{{ path( url ) }}" method="post">
    <div id="admin-search-layout" class="input-group" style="float: right;">
        <input id="admin-search-text" name="filter" type="text" class="form-control" placeholder="Buscar..." value="{{ filter }}">
        <span id="admin-search-button" title="Buscar..." class="input-group-addon glyphicon glyphicon-search"></span>
    </div>
</form>