<h2>
    Su cuenta en SISCONEE ha sido creada satisfactoriamente
</h2>

<h3>Sus datos se muestran a continuación:</h3>

<p>Nombre de usuario: <b>{{ name }}</b></p>

<p>Contraseña:<b> {{ password }}</b></p>

<h3>
    Gracias por utilizar nuestro sitio...
</h3>