.cart a {
    color : #e4292f;
    text-decoration: none;
}

.content_top {
    margin-top: 10px;
}

.images_1_of_4 {
    height: 285px;
    position: relative;
}

.images_1_of_4 .details {
    position: absolute;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

.product-details {
    margin: 0px;
    display: table;
}

.product-details section {
    float: left;
}

.product-details .images_1_of_4 {
    margin-right: 10px;
    margin-bottom: 10px;
}

.shoppingcart-table {
    width: 100%;
}

.shoppingcart-table thead {
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold;
}

.shoppingcart-table th {
    padding-top: 5px;
    padding-bottom: 5px;
}

.shoppingcart-table tr {
    vertical-align: middle;
    text-align: left;
}

.shoppingcart-table img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.shoppingcart-table h2 {
    color : #e4292f;
    font-size: 15px;
}

a {
    color : #2a5c86;
}

a:hover {
    color : #e4292f;
}

.shoppingcart-table tfoot {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold;
    background-color: #f5f5f5;
}

.shoppingcart-table tfoot td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.shoppingcart-table .add-cart {
    float: none;
}

.shoppingcart-table .add-cart a {
    font-weight: normal;
    color: #FFFFFF;
}

#map_canvas {
    width: 430px;
    height: 300px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e1;
    background-color: #f5f5f5;
}

.contact_info {
    display: table;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact_info a {
    float: right;
}