<div class="myhidden" id="addplan-form" >
    {{ form_start(form) }}
    {{ form_rest(form) }}
    {#<input value="Crear Plan" type="submit" class="btn btn-default add-plan-btn">#}
    {{ form_end(form)}}
</div>

